<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://support.jalios.com/dtd/jcms-plugin-1.6.dtd">
<plugin name="FranceConnectPlugin" 
        version="1.10-dev" 
        author="Benoît Moraillon - Région Bretagne" 
        license="MIT" 
        initialize="true" jcms="" order="0" url="" jsync="false" appserver="">
 
  <label xml:lang="fr">Module FranceConnect</label>
  <label xml:lang="en">FranceConnect Plugin</label>
  <description xml:lang="fr">Module d'authentification déléguée vers FranceConnect Particuliers et/ou Entreprises (https://franceconnect.gouv.fr)</description>
  <description xml:lang="en">FranceConnect Authentication plugin (https://franceconnect.gouv.fr)</description>
  
  <dependencies>
    <dependency name="OAuthPlugin" />
    <dependency name="SocialAuthenticationPlugin" />
  </dependencies>
  
  <java-classes>
    <java package="bzh.jcmsplugin.fc" />
  </java-classes>
  
  <jars>
    <jar path="jjwt-0.9.0.jar" />
  </jars>   
 
  <plugincomponents>
    <datacontroller        class="bzh.jcmsplugin.fc.controllers.FranceConnectMemberDataController" types="Member" />
    <authenticationhandler class="bzh.jcmsplugin.fc.handlers.FranceConnectAuthenticationHandler" />
  </plugincomponents>

  <private-files>
    <directory path="properties" />
  </private-files>
  
  <public-files>
    <file path="jsp/doFranceConnectKit.jsp" include="SITE_TOPBAR_MENU_LEFT" />
    <file path="jsp/doFranceConnectMemberEditForm.jsp" include="EDIT_MBR_MAINTAB_HEADER" />
    <file path="jsp/doFranceConnectMemberEditForm.jsp" include="PLUGIN_ESN_EDIT_PROFILE_ACCOUNT" />
  
    <directory path="images" />
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="css" />
    
  </public-files>
</plugin>

